@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --primary-bg: #f0f5f9;
  --secondary-bg: #c9d6df;
  --dark: #52616b;
  --black: #1e2022;
  --pink: #ff6384;
  --orange: #ff9f40;
  --yellow: #ffcd56;
  --green: #4bc0c0;
  --blue: #36a2eb;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--primary-bg);
}

.link,
a {
  color: inherit !important;
  text-decoration: none;
}

.currentPage {
  color: var(--green) !important;
}

.highlight-pink {
  color: var(--pink) !important;
}

.highlight-green {
  color: var(--green) !important;
}

.progress-bar {
  position: relative;
  height: 38px;
  width: 100%;
  border-radius: 10px;
  background-color: var(--dark);
  border: 1px solid var(--dark);
}

.filler {
  background-color: var(--primary-bg);
  color: var(--black);
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
}

.error-message,
.error-message-green {
  background-color: var(--pink);
  width: 60%;
  margin: 2rem auto;
  color: var(--primary-bg);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
}

.error-message-green {
  background-color: var(--green);
}

.login-screen,
.signup-screen {
  background-color: var(--secondary-bg);
  min-height: 100vh;
}

.login-container,
.signup-container {
  display: flex;
  width: 90%;
  padding: 4rem 0;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: var(--dark);
}

.logo img {
  width: 103px;
  height: 66px;
}

.logo h2 {
  font-weight: bold;
  font-size: 48px;
  margin-left: 1.5rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.logo-container p {
  margin-top: 2rem;
  font-size: 70px;
  color: var(--dark);
}

.login-box,
.signup-box {
  width: 594px;
  height: 815px;
  background-color: var(--primary-bg);
  border-radius: 22px;
  color: var(--dark);
  position: relative;
}

.login-box h1 {
  font-size: 50px;
  margin: 3rem 0 5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.signup-box h1 {
  font-size: 50px;
  margin: 1.5rem 0 3rem 0;
  text-align: center;
  text-transform: uppercase;
}

.login-form,
.signup-form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-input {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  font-size: 14px;
}

.add-transaction-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  font-size: 24px;
  color: var(--dark);
}

.add-transaction-input input {
  background-color: transparent;
  color: var(--dark);
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid var(--dark) 1px;
  padding: 3px;
  margin-top: 0.8rem;
}

.add-transaction-input select {
  background-color: transparent;
  color: var(--dark);
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid var(--dark) 1px;
  padding: 3px;
  margin-top: 0.8rem;
}

select:focus {
  outline: none !important;
  box-shadow: none !important;
}

option {
  background-color: var(--secondary-bg);
  color: var(--dark);
  font-size: 15px;
}

.add-transaction-input textarea {
  background-color: var(--primary-bg);
  border-radius: 12px;
  border: none;
  margin-top: 0.8rem;
  width: 100%;
  height: 153px;
  outline: none;
  padding: 0.5rem 1rem;
  color: var(--dark);
}

.auth-input input {
  background-color: transparent;
  color: var(--dark);
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid var(--dark) 1px;
  padding: 3px;
  margin-top: 0.8rem;
}

.add-transaction .add-transaction-input {
  margin-bottom: 2rem;
}

.login-form .auth-input {
  margin-bottom: 3rem;
}

.signup-form .auth-input {
  margin-bottom: 2rem;
}

.btn-small-dark {
  width: 100px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color ease-in 0.3s;
  border-radius: 23px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.btn-medium-dark {
  width: 100px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color ease-in 0.3s;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.btn-large,
.btn-large-dark {
  width: 530px;
  height: 68px;
  background-color: var(--secondary-bg);
  border: none;
  outline: none;
  border-radius: 9px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: background-color ease-in 0.3s;
}

.btn-large:hover {
  background-color: #cfdce6;
}

.btn-large-dark:hover,
.btn-small-dark:hover,
.btn-medium-dark:hover {
  background-color: rgb(98, 116, 128);
}

.btn-large-dark,
.btn-small-dark,
.btn-medium-dark {
  background-color: var(--dark);
  color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-large-dark span {
  margin-left: 1rem;
}

.login-form .btn-large-dark,
.signup-form .btn-large-dark {
  margin-top: 2rem;
}

.login-box-footer,
.signup-box-footer {
  background-color: var(--dark);
  color: var(--primary-bg);
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 594px;
  height: 57px;
  border-radius: 0 0 22px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-input {
  display: flex;
  width: 80%;
}

.name-input .auth-input:first-child {
  margin-right: 3rem;
}

.dashboard {
  display: flex;
}

/* Sidebar */

.navbar {
  display: none;
}

.sidebar {
  width: 336px;
  min-height: 100vh;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  font-size: 30px;
}

.sidebar-logo h2 {
  font-size: 30px;
  margin-left: 1.5rem;
  font-weight: bold;
  color: var(--dark);
}

.sidebar-logo img {
  width: 64px;
  height: 41px;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 428px;
  margin-top: 5rem;
}

.sidebar-item {
  background-color: var(--primary-bg);
  width: 278px;
  height: 52px;
  margin: 1rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 9px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  text-transform: uppercase;
  color: var(--dark);
}
.sidebar-item-px {
  padding-left: 0.2rem;
}

.sidebar-img {
  width: 40px;
  margin-right: 1.3rem;
}

.sign-out-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  padding: 0 1rem 0.6rem 0;
  cursor: pointer;
}

.sign-out-btn h2 {
  font-size: 15px;
  margin-right: 0.5rem;
  text-transform: uppercase;
}

.main-container {
  width: 80%;
}

.home-container,
.savings-screen-container,
.transactions-screen-container,
.receipts-screen-container,
.settings-screen-container,
.savings-info-container {
  width: 95%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.home-title,
.savings-info-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
}

.user-icon h3 {
  font-size: 25px;
  color: var(--black);
  text-transform: uppercase;
}

.monthly-spending-overview {
  width: 936px;
  height: 418px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1rem;
  color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monthly-spending-overview h3 {
  margin-bottom: 2rem;
}

.savings-overview {
  width: 936px;
  height: 393px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1rem 4rem;
  margin-top: 3rem;
  color: var(--primary-bg);
}

.home-data-overview .highest-expense-overview {
  width: 483px;
  height: 858px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1rem;
  margin-left: 3rem;
  color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transactions-dashboard .highest-expense-overview {
  width: 483px;
  height: 905px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1rem;
  margin-left: 3rem;
  color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-data-overview {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.highest-expense-piechart {
  margin: 2rem 0;
}

.monthly-spending-overview h3,
.savings-overview h3,
.highest-expense-overview h3 {
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
}

.savings-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.savings-card {
  width: 221px;
  height: 272.59px;
  background-color: var(--dark);
  color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.savings-card h3 {
  margin-bottom: 1rem;
}

.savings-nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1.5rem 0;
  align-items: center;
}

.filter-icon {
  display: flex;
  align-items: center;
  color: var(--dark);
  cursor: pointer;
}

.filter-icon h3 {
  font-size: 15px;
  font-weight: bold;
  margin-left: 0.5rem;
}

.savings-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.savings-progress {
  width: 1446px;
  height: 163px;
  background-color: var(--secondary-bg);
  border-radius: 23px;
  padding: 0.6rem 2.5rem;
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0.3rem;
}

.savings-progress-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.savings-progress-title h4 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark);
}

.savings-progress-title h3 {
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
  margin-top: 0.5rem;
}

.history-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--black);
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.history-pagination h3 {
  font-size: 16px !important;
  text-transform: none !important;
  color: var(--black) !important;
}

.pagination h3,
.history-pagination h3 {
  cursor: pointer;
}

.pages {
  display: flex;
  align-items: center;
}

.pages h4 {
  cursor: pointer;
  margin-right: 1rem;
}

.transactions-dashboard,
.receipts-dashboard,
.settings-dashboard {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
}

.recent-transactions,
.settings-items {
  width: 100%;
  height: 905px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1.5rem 3rem;
}

.recent-transactions h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark);
}

.recent-transactions-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}

.recent-transactions-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions-item {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  color: var(--dark);
  margin: 0.5rem 0;
}

.transaction-date {
  font-size: 20px;
}

.transaction-name {
  font-weight: lighter;
  font-size: 20px;
}

.transaction-type {
  font-weight: lighter;
  font-size: 20px;
  margin-left: 2rem;
  text-align: center;
}

.transaction-price {
  font-weight: bold;
  color: var(--primary-bg) !important;
  font-size: 25px;
  text-align: right;
}

.receipt-upload,
.settings-user {
  background-color: var(--secondary-bg);
  height: 905px;
  width: 509px;
  border-radius: 22px;
  padding: 1rem;
  margin-left: 3rem;
  color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receipt-upload h3,
.settings-user h3 {
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
}

.settings-items {
  flex-direction: column;
}

.settings-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark);
  margin: 1rem 0;
}

.settings-button {
  width: 100%;
  height: 52px;
  background-color: var(--primary-bg);
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7rem;
  cursor: pointer;
  color: var(--dark);
  margin: 2rem 0;
  transition: background-color ease-in 0.3s;
}

.settings-button h3 {
  font-size: 17px;
  font-weight: bold;
}

.settings-button:hover {
  background-color: #fafdff;
}

.settings-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-user img {
  margin: 3rem 0;
  width: 379px;
  height: 379px;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.age,
.salary,
.retirement-age {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.age h3,
.salary h3,
.retirement-age h3,
.bio h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--dark);
}

.age h4,
.salary h4,
.retirement-age h4 {
  font-size: 20px;
  font-weight: lighter;
  color: var(--dark);
}

.savings-info-container {
  margin-top: 2rem;
}

.savings-info-nav {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.savings-info-nav h4 {
  margin: 0 1rem;
  cursor: pointer;
  color: var(--black);
  font-weight: bold;
  font-size: 16px;
}

.savings-info-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.savings-info-progress,
.savings-info-history {
  width: 279px;
  height: 382px;
  background-color: var(--secondary-bg);
  margin: 1.5rem 0 1.5rem 1rem;
  border-radius: 22px;
}

.savings-info-payments,
.savings-info-info {
  width: 1127px;
  height: 382px;
  background-color: var(--secondary-bg);
  margin: 1.5rem 0;
  border-radius: 22px;
}

.savings-info-progress,
.savings-info-payments,
.savings-info-history,
.savings-info-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.6rem 1rem;
}

.savings-info-payments h3,
.savings-info-info h3 {
  font-size: 39px;
  color: var(--dark);
  font-weight: bold;
  text-transform: uppercase;
}

.savings-info-history h3:first-child {
  font-size: 30px;
  color: var(--dark);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.add-transaction {
  width: 100%;
  height: 886px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
}

.receipt-info {
  width: 100%;
  height: 700px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-amount {
  width: 100%;
  height: 400px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info-form {
  width: 100%;
  height: 600px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-account-form {
  width: 100%;
  height: 800px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receipt-info .add-transaction-input {
  margin-bottom: 3rem;
}

.add-amount .add-transaction-input {
  margin-bottom: 3rem;
}

.add-transaction {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-transaction-btn,
.open-light-box {
  width: 308px;
  height: 68px;
  background-color: var(--primary-bg);
  outline: none;
  border: none;
  border-radius: 9px;
  font-size: 17px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: var(--black);
}

.open-light-box {
  margin: 2rem 0;
}

.savings-info-progress {
  align-items: center;
}

.savings-info-progress canvas:first-child {
  margin: 1rem 0;
}

.savings-info-progress-saved,
.savings-info-progress-left,
.savings-info-progress-total {
  width: 85%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  color: var(--dark);
  font-weight: bold;
}

.savings-info-progress-saved h4,
.savings-info-progress-left h4,
.savings-info-progress-total h4 {
  font-weight: lighter;
}

.main-container .loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.savings-info-history-list {
  display: flex;
  flex-direction: column;
}

.savings-info-history-item {
  display: flex;
  margin: 1rem auto;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  color: var(--dark);
}

.savings-info-history-item h4 {
  font-size: 20px;
  font-weight: lighter;
}

.savings-info-history-item h3 {
  font-size: 20px;
  font-weight: bold;
}

.savings-info-desc,
.savings-info-deadline {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 1rem;
  color: var(--dark);
}

.savings-info-desc h3,
.savings-info-deadline h3 {
  margin: 0.5rem 0 1rem 0;
  font-size: 20px;
  font-weight: bold;
  text-transform: none !important;
}

.savings-info-desc p,
.savings-info-deadline p {
  font-size: 18px;
  font-weight: lighter;
}

.savings-info-payments {
  padding: 1.5rem 2rem;
}

.savings-info-payments h3 {
  margin-bottom: 2rem;
}

.upload-box {
  margin-top: 2rem;
}

.upload-box p {
  color: red;
  text-align: center;
}

.upload-drop-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 427px;
  height: 389px;
  border: 3px dashed var(--dark);
}

.upload-drop-container h3 {
  font-size: 20px;
  color: var(--black);
  margin: 1rem 0;
  text-transform: lowercase;
}

.upload-icon {
  width: 175.59px;
  height: 122.91px;
  background: url("./img/upload.png") no-repeat center center;
  background-size: 100%;
  text-align: center;
  margin: 3rem auto;
  padding-top: 30px;
}

.drop-message {
  text-align: center;
  color: var(--primary-bg);
  font-size: 25px;
}

.btn-upload {
  outline: none;
  border: none;
  width: 156px;
  height: 36px;
  background-color: var(--primary-bg);
  border-radius: 9px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.file-input {
  display: none;
}

.receipt-input-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.receipt-input {
  width: 427px;
  height: 59px;
  background-color: var(--primary-bg);
  font-size: 20px;
  font-weight: bold;
  margin: 1rem 0;
  border: none;
  padding: 10px;
  outline: none;
}

.btn-add {
  margin-top: 1rem;
}

.search-savings {
  display: inline-block;
  position: relative;
}

.search-box {
  width: 580px;
  height: 32px;
  background-color: var(--secondary-bg);
  border: none;
  outline: none;
  padding: 0 1rem;
  border-radius: 23px;
  font-size: 15px;
  color: var(--dark);
  flex: 1;
}

.search-box:focus {
  outline: none;
}

.search-savings button {
  position: absolute;
  font-size: 14px;
  color: var(--dark);
  top: 7px;
  right: 0;
  width: 3.5rem;
  background-color: var(--secondary-bg);
  border: none;
  outline: none;
  border-radius: 23px;
}

@media screen and (max-width: 1919px) {
  /* Sidebar */

  .sidebar {
    width: 336px;
    min-height: 100vh;
    background-color: var(--secondary-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    position: relative;
  }

  .sidebar-logo {
    display: flex;
    align-items: center;
    font-size: 30px;
  }

  .sidebar-logo h2 {
    font-size: 30px;
    margin-left: 1.5rem;
    font-weight: bold;
    color: var(--dark);
  }

  .sidebar-logo img {
    width: 64px;
    height: 41px;
  }

  .sidebar-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
  }

  .sidebar-item {
    background-color: var(--primary-bg);
    width: 228px;
    height: 52px;
    margin: 1rem 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 9px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-transform: uppercase;
    color: var(--dark);
  }
  .sidebar-item-px {
    padding-left: 0.2rem;
  }

  .sidebar-img {
    width: 40px;
    margin-right: 1.3rem;
  }

  .sign-out-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    padding: 0 1rem 0.6rem 0;
    cursor: pointer;
  }

  .sign-out-btn h2 {
    font-size: 15px;
    margin-right: 0.5rem;
    text-transform: uppercase;
  }

  /* Dashboard */

  .home-container,
  .savings-screen-container,
  .transactions-screen-container,
  .receipts-screen-container,
  .settings-screen-container,
  .savings-info-container {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
  }

  .home-title,
  .savings-info-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .title {
    font-size: 60px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
  }

  .user-icon h3 {
    font-size: 25px;
    color: var(--black);
    text-transform: uppercase;
  }

  .monthly-spending-overview {
    width: 936px;
    height: 418px;
    background-color: var(--secondary-bg);
    border-radius: 22px;
    padding: 1rem;
    color: var(--primary-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .monthly-spending-overview h3 {
    margin-bottom: 2rem;
  }

  .savings-overview {
    width: 936px;
    height: 393px;
    background-color: var(--secondary-bg);
    border-radius: 22px;
    padding: 1rem 4rem;
    margin-top: 3rem;
    color: var(--primary-bg);
  }

  .home-data-overview .highest-expense-overview {
    display: none;
  }

  .home-data-overview {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
  }

  .highest-expense-piechart {
    margin: 2rem 0;
  }

  .monthly-spending-overview h3,
  .savings-overview h3,
  .highest-expense-overview h3 {
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
  }

  .savings-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.4rem;
  }

  .savings-card {
    width: 221px;
    height: 272.59px;
    background-color: var(--dark);
    color: var(--secondary-bg);
    border-radius: 22px;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .savings-card h3 {
    margin-bottom: 1rem;
  }

  /* Savings */
  .savings-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .savings-list a {
    width: 100%;
  }

  .savings-progress {
    width: 100%;
    height: 163px;
    background-color: var(--secondary-bg);
    border-radius: 23px;
    padding: 0.6rem 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 1.3rem 0.3rem;
  }

  .savings-progress-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .savings-progress-title h4 {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark);
  }

  .savings-progress-title h3 {
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark);
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--black);
    margin-top: 0.5rem;
  }

  .savings-info-container {
    margin-top: 2rem;
  }

  .savings-info-nav {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }

  .savings-info-nav h4 {
    margin: 0 1rem;
    cursor: pointer;
    color: var(--black);
    font-weight: bold;
    font-size: 16px;
  }

  .savings-info-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .savings-info-progress,
  .savings-info-history {
    width: 100%;
    height: 382px;
    background-color: var(--secondary-bg);
    margin: 0 !important;
    border-radius: 22px;
  }

  .savings-info-payments canvas {
    width: 100% !important;
    height: 80% !important;
  }

  .savings-info-payments,
  .savings-info-info {
    width: 100%;
    height: 482px;
    background-color: var(--secondary-bg);
    margin: 1.5rem 0;
    border-radius: 22px;
  }

  .savings-info-progress,
  .savings-info-payments,
  .savings-info-history,
  .savings-info-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.6rem 1rem;
  }

  .savings-info-payments h3,
  .savings-info-info h3 {
    font-size: 39px;
    color: var(--dark);
    font-weight: bold;
    text-transform: uppercase;
  }

  .savings-info-history h3:first-child {
    font-size: 30px;
    color: var(--dark);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0.5rem;
  }

  /* Settings */
  .settings-items {
    width: 100%;
  }

  .settings-user {
    display: none;
  }
}

@media screen and (max-width: 1700px) {
  .logo-container p {
    margin-top: 2rem;
    font-size: 50px;
    color: var(--dark);
  }

  .recent-transactions h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--dark);
  }

  .recent-transactions-list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
  }

  .recent-transactions-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .transactions-item {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    color: var(--dark);
    margin: 0.5rem 0;
  }

  .transaction-date {
    font-size: 18px;
  }

  .transaction-name {
    font-weight: lighter;
    font-size: 18px;
  }

  .transaction-type {
    font-weight: lighter;
    font-size: 18px;
    margin-left: 2rem;
    text-align: center;
  }

  .transaction-price {
    font-weight: bold;
    color: var(--primary-bg) !important;
    font-size: 25px !important;
    text-align: right;
  }
}

@media screen and (max-width: 1600px) {
  .logo-container p {
    margin-top: 2rem;
    font-size: 50px;
    color: var(--dark);
  }

  .transactions-dashboard {
    flex-direction: column;
  }

  .transactions-dashboard .highest-expense-overview {
    width: 100%;
    height: 605px;
    background-color: var(--secondary-bg);
    border-radius: 22px;
    padding: 1rem;
    margin: 2rem 0 0 0 !important;
    color: var(--primary-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .receipts-dashboard {
    flex-direction: column;
  }

  .receipt-upload {
    background-color: var(--secondary-bg);
    height: 905px;
    width: 100%;
    border-radius: 22px;
    padding: 1rem;
    margin: 2rem 0 0 0 !important;
    color: var(--primary-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .receipt-upload h3,
  .settings-user h3 {
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 1400px) {
  .login-container,
  .signup-container {
    display: flex;
    width: 90%;
    padding: 4rem 0;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    align-items: center;
    margin-bottom: 4rem;
  }

  .logo-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .logo-container p {
    display: none;
  }

  .search-box {
    width: 380px;
  }

  .home-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .navbar {
    background: var(--secondary-bg);
    height: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }

  .nav-link {
    color: var(--dark);
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
  }

  .nav-logo {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--dark);
    margin: 0 1rem;
  }

  .nav-logo img {
    width: 80.4px;
    height: 50px;
  }

  .nav-logo h2 {
    margin-left: 1rem;
    font-size: 28px;
  }

  .navbar-bars {
    display: none;
    color: var(--dark);
  }

  .nav-menu {
    display: flex;
    align-items: center;
  }

  .main-container {
    width: 100%;
  }

  .user-icon {
    display: none;
  }

  .title {
    font-size: 50px;
  }
}

@media screen and (max-width: 1000px) {
  .monthly-spending-overview {
    display: none;
  }

  .savings-overview {
    width: 436px;
    height: 100%;
    background-color: var(--secondary-bg);
    border-radius: 22px;
    padding: 1rem 4rem;
    margin-top: 1rem;
    color: var(--primary-bg);
  }

  .savings-cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 1.4rem;
    align-items: center;
  }

  .savings-card {
    width: 221px;
    height: 272.59px;
    background-color: var(--dark);
    color: var(--secondary-bg);
    border-radius: 22px;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }

  .savings-card h3 {
    margin-bottom: 1rem;
  }

  .title {
    font-size: 40px;
  }

  .savings-info-payments {
    display: none;
  }

  .savings-info-history {
    margin-top: 2rem !important;
  }
}

@media screen and (max-width: 815px) {
  .navbar-bars {
    display: flex;
    margin-right: 2rem;
    align-items: center;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .navbar-burger-menu {
    position: absolute;
    top: 0;
    height: 375px;
    width: 100%;
    color: var(--dark);
    background-color: var(--secondary-bg);
  }

  .navbar-burger-menu .navbar-bars {
    display: flex;
    justify-content: flex-end;
  }

  .nav-link-burger {
    color: var(--dark);
    display: flex;
    text-decoration: none;
    padding: 0 1rem;
    cursor: pointer;
    margin: 2rem 0;
  }

  .nav-menu {
    display: none;
  }

  .logo img {
    width: 80.4px;
    height: 50px;
  }

  .logo h2 {
    font-size: 38px;
  }

  .login-box,
  .signup-box {
    width: 444px;
  }

  .login-box h1 {
    font-size: 45px;
  }

  .signup-box h1 {
    font-size: 45px;
  }

  .btn-large,
  .btn-large-dark {
    width: 330px;
    height: 58px;
    font-size: 16px;
  }

  .login-box-footer,
  .signup-box-footer {
    font-size: 16px;
    width: 444px;
  }

  .savings-info-info p {
    font-size: 16px;
  }

  .savings-info-info h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 640px) {
  .savings-overview {
    width: 336px;
    height: 100%;
  }

  .savings-nav .btn-small-dark {
    margin-bottom: 1rem;
  }

  .savings-nav {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 1.5rem 0;
    align-items: center;
  }

  .filter-icon {
    margin-top: 1rem;
  }

  .title {
    font-size: 35px;
  }

  .savings-progress {
    width: 100%;
    height: 163px;
    background-color: var(--secondary-bg);
    border-radius: 23px;
    padding: 0.6rem 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 1.3rem 0.3rem;
  }

  .savings-progress-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .savings-progress-title h4 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark);
  }

  .savings-progress-title h3 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--dark);
  }

  .progress-bar {
    position: relative;
    height: 38px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--dark);
    border: 1px solid var(--dark);
    font-size: 13px;
  }

  .recent-transactions h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--dark);
  }

  .recent-transactions-list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
  }

  .recent-transactions-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .transactions-item {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    color: var(--dark);
    margin: 0.5rem 0;
  }

  .transaction-date {
    font-size: 15px;
  }

  .transaction-name {
    font-weight: lighter;
    font-size: 15px;
  }

  .transaction-type {
    font-weight: lighter;
    font-size: 15px;
    margin-left: 2rem;
    text-align: center;
  }

  .transaction-price {
    font-weight: bold;
    color: var(--primary-bg) !important;
    font-size: 20px !important;
    text-align: right;
  }

  .savings-info-title .title {
    font-size: 30px !important;
  }

  .savings-info-nav h4 {
    margin: 0 1rem;
    cursor: pointer;
    color: var(--black);
    font-weight: bold;
    font-size: 13px;
  }
}

@media screen and (max-width: 560px) {
  .recent-transactions h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--dark);
  }

  .recent-transactions-list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
  }

  .recent-transactions-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .transactions-item {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    color: var(--dark);
    margin: 0.5rem 0;
  }

  .transaction-date {
    font-size: 13px;
  }

  .transaction-name {
    font-weight: lighter;
    font-size: 13px;
  }

  .transaction-type {
    font-weight: lighter;
    font-size: 13px;
    margin-left: 2rem;
    text-align: center;
  }

  .transaction-price {
    font-weight: bold;
    color: var(--primary-bg) !important;
    font-size: 17px !important;
    text-align: right;
  }

  .highest-expense-overview {
    display: none !important;
  }
}

@media screen and (max-width: 530px) {
  .logo img {
    width: 60px;
    height: 37.5px;
  }

  .logo h2 {
    font-size: 30px;
  }

  .login-box,
  .signup-box {
    width: 375px;
  }

  .signup-box {
    height: 915px;
  }

  .login-box h1 {
    font-size: 40px;
  }

  .signup-box h1 {
    font-size: 40px;
  }

  .btn-large,
  .btn-large-dark {
    width: 275px;
    height: 58px;
    font-size: 16px;
  }

  .login-box-footer,
  .signup-box-footer {
    font-size: 16px;
    width: 375px;
  }

  .name-input {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .auth-input input {
    padding: 3px;
    margin-top: 0.8rem;
  }

  .name-input .auth-input:first-child {
    margin: 0;
    margin-bottom: 2rem;
  }

  .recent-transactions h2 {
    font-size: 14px;
    font-weight: bold;
    color: var(--dark);
  }

  .recent-transactions-list {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 100%;
  }

  .recent-transactions-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .transactions-item {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    align-items: center;
    color: var(--dark);
    margin: 0.5rem 0;
  }

  .transaction-date {
    font-size: 10px;
  }

  .transaction-name {
    font-weight: lighter;
    font-size: 10px;
  }

  .transaction-type {
    font-weight: lighter;
    font-size: 10px;
    margin-left: 0.5rem;
    text-align: center;
  }

  .transaction-price {
    font-weight: bold;
    color: var(--primary-bg) !important;
    font-size: 13px !important;
    text-align: right;
  }

  .upload-box {
    margin-top: 2rem;
  }

  .upload-box p {
    color: red;
    text-align: center;
  }

  .upload-drop-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 213px;
    height: 194.5px;
    border: 3px dashed var(--dark);
  }

  .upload-drop-container h3 {
    font-size: 20px;
    color: var(--black);
    margin: 1rem 0;
    text-transform: lowercase;
  }

  .upload-icon {
    width: 87.8px;
    height: 61.5px;
    background: url("./img/upload.png") no-repeat center center;
    background-size: 100%;
    text-align: center;
    margin: 3rem auto;
    padding-top: 30px;
  }

  .drop-message {
    text-align: center;
    color: var(--primary-bg);
    font-size: 15px;
  }

  .btn-upload {
    outline: none;
    border: none;
    width: 156px;
    height: 36px;
    background-color: var(--primary-bg);
    border-radius: 9px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: "Lato", sans-serif;
  }

  .receipt-input-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
  }

  .receipt-input {
    width: 300px;
    height: 59px;
    background-color: var(--primary-bg);
    font-size: 18px;
    font-weight: bold;
    margin: 1rem 0;
    border: none;
    padding: 10px;
    outline: none;
  }

  .savings-info-info p {
    font-size: 14px;
  }

  .savings-info-info h3 {
    font-size: 25px;
  }
}

@media screen and (max-width: 425px) {
  .savings-info-nav h4 {
    margin: 0 1rem;
    cursor: pointer;
    color: var(--black);
    font-weight: bold;
    font-size: 12px;
  }

  .savings-overview {
    width: 280px;
    height: 100%;
    background-color: var(--secondary-bg);
    border-radius: 22px;
    padding: 1rem 4rem;
    margin-top: 1rem;
    color: var(--primary-bg);
  }

  .nav-logo {
    display: flex;
    height: 100%;
    align-items: center;
    color: var(--dark);
    margin: 0 1rem;
  }

  .nav-logo img {
    width: 40.2px;
    height: 25px;
  }

  .nav-logo h2 {
    margin-left: 1rem;
    font-size: 20px;
  }

  .search-box {
    width: 280px;
  }

  .logo img {
    width: 60px;
    height: 37.5px;
  }

  .logo h2 {
    font-size: 30px;
  }

  .login-box,
  .signup-box {
    width: 250px;
  }

  .login-box h1 {
    font-size: 30px;
  }

  .signup-box h1 {
    font-size: 30px;
  }

  .btn-large,
  .btn-large-dark {
    width: 190px;
    height: 48px;
    font-size: 14px;
  }

  .login-box-footer,
  .signup-box-footer {
    font-size: 13px;
    width: 250px;
  }

  .savings-info-info p {
    font-size: 12px;
  }

  .savings-info-info h3 {
    font-size: 22px;
  }

  .savings-info-title .title {
    font-size: 25px !important;
  }
}
