@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --primary-bg: #f0f5f9;
  --secondary-bg: #c9d6df;
  --dark: #52616b;
  --black: #1e2022;
  --pink: #ff6384;
  --orange: #ff9f40;
  --yellow: #ffcd56;
  --green: #4bc0c0;
  --blue: #36a2eb;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--primary-bg);
}

a {
  text-decoration: none;
}

.highlight-pink {
  color: var(--pink);
}

.highlight-green {
  color: var(--green);
}

.progress-bar {
  position: relative;
  height: 38px;
  width: 1376px;
  border-radius: 10px;
  background-color: var(--dark);
  border: 1px solid var(--dark);
}

.filler {
  background-color: var(--primary-bg);
  height: 100%;
  border-radius: inherit;
  transition: width 0.2s ease-in;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.5rem;
}

.error-message {
  background-color: var(--pink);
  width: 60%;
  margin: 2rem auto;
  color: var(--primary-bg);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
}

.login-screen,
.signup-screen {
  background-color: var(--secondary-bg);
  height: 100vh;
}

.login-container,
.signup-container {
  display: flex;
  width: 90%;
  padding: 4rem 0;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  display: flex;
  color: var(--dark);
}

.logo h2 {
  font-weight: bold;
  margin-left: 1.5rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.logo-container p {
  margin-top: 2rem;
  font-size: 70px;
  color: var(--dark);
}

.login-box,
.signup-box {
  width: 594px;
  height: 815px;
  background-color: var(--primary-bg);
  border-radius: 22px;
  color: var(--dark);
  position: relative;
}

.login-box h1 {
  font-size: 50px;
  margin: 3rem 0 5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.signup-box h1 {
  font-size: 50px;
  margin: 1.5rem 0 3rem 0;
  text-align: center;
  text-transform: uppercase;
}

.login-form,
.signup-form {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-input {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  font-size: 14px;
}

.auth-input input {
  background-color: transparent;
  color: var(--dark);
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid var(--dark) 1px;
  padding: 3px;
  margin-top: 0.8rem;
}

.login-form .auth-input {
  margin-bottom: 3rem;
}

.signup-form .auth-input {
  margin-bottom: 2rem;
}

.btn-small-dark {
  width: 100px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all ease-in 0.3s;
  border-radius: 23px;
  font-size: 15px;
  font-weight: bold;
}

.btn-medium-dark {
  width: 100px;
  height: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all ease-in 0.3s;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
}

.btn-large,
.btn-large-dark {
  width: 530px;
  height: 68px;
  background-color: var(--secondary-bg);
  border: none;
  outline: none;
  border-radius: 9px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  transition: all ease-in 0.3s;
}

.btn-large:hover {
  background-color: #cfdce6;
}

.btn-large-dark:hover,
.btn-small-dark:hover,
.btn-medium-dark:hover {
  background-color: rgb(98, 116, 128);
}

.btn-large-dark,
.btn-small-dark,
.btn-medium-dark {
  background-color: var(--dark);
  color: var(--primary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-large-dark span {
  margin-left: 1rem;
}

.login-form .btn-large-dark,
.signup-form .btn-large-dark {
  margin-top: 2rem;
}

.login-box-footer,
.signup-box-footer {
  background-color: var(--dark);
  color: var(--primary-bg);
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  width: 594px;
  height: 57px;
  border-radius: 0 0 22px 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-input {
  display: flex;
  width: 80%;
}

.name-input .auth-input:first-child {
  margin-right: 3rem;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 336px;
  min-height: 100vh;
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  position: relative;
}

.main-container {
  width: 80%;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.sidebar-item {
  background-color: var(--primary-bg);
  width: 278px;
  height: 52px;
  margin: 1rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 9px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  text-transform: uppercase;
  color: var(--dark);
}
.sidebar-item-px {
  padding-left: 0.2rem;
}

.sidebar-img {
  width: 40px;
  margin-right: 1.3rem;
}

.sign-out-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark);
  padding: 0 1rem 0.6rem 0;
  cursor: pointer;
}

.sign-out-btn h2 {
  font-size: 15px;
  margin-right: 0.5rem;
  text-transform: uppercase;
}

.home-container,
.savings-screen-container,
.transactions-screen-container,
.receipts-screen-container,
.settings-screen-container {
  width: 95%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.home-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: var(--black);
  text-transform: uppercase;
}

.user-icon h3 {
  font-size: 25px;
  color: var(--black);
  text-transform: uppercase;
}

.monthly-spending-overview {
  width: 936px;
  height: 418px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1rem;
  color: var(--primary-bg);
}

.savings-overview {
  width: 936px;
  height: 393px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1rem 4rem;
  margin-top: 3rem;
  color: var(--primary-bg);
}

.highest-expense-overview {
  width: 483px;
  height: 858px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1rem;
  margin-left: 3rem;
  color: var(--primary-bg);
}

.home-data-overview {
  display: flex;
  margin-top: 3rem;
}

.monthly-spending-overview h3,
.savings-overview h3,
.highest-expense-overview h3 {
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
}

.savings-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1.4rem;
}

.savings-card {
  width: 221px;
  height: 272.59px;
  background-color: var(--dark);
  color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1rem 0;
}

.savings-nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 1.5rem 0;
  align-items: center;
}

.savings-nav input {
  width: 580px;
  height: 32px;
  background-color: var(--secondary-bg);
  border: none;
  outline: none;
  padding: 0 1rem;
  border-radius: 23px;
  font-size: 15px;
  color: var(--dark);
}

.filter-icon {
  display: flex;
  align-items: center;
  color: var(--dark);
  cursor: pointer;
}

.filter-icon h3 {
  font-size: 15px;
  font-weight: bold;
  margin-left: 0.5rem;
}

.savings-progress {
  width: 1446px;
  height: 163px;
  background-color: var(--secondary-bg);
  border-radius: 23px;
  padding: 0.6rem 2.5rem;
  display: flex;
  flex-direction: column;
  margin: 1.3rem 0.3rem;
}

.savings-progress-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.savings-progress-title h4 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark);
}

.savings-progress-title h3 {
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--dark);
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
  margin-top: 0.5rem;
}

.pagination h3 {
  cursor: pointer;
}

.pages {
  display: flex;
  align-items: center;
}

.pages h4 {
  cursor: pointer;
  margin-right: 1rem;
}

.transactions-dashboard,
.receipts-dashboard,
.settings-dashboard {
  display: flex;
  margin-top: 2rem;
}

.recent-transactions,
.settings-items {
  width: 982px;
  height: 905px;
  background-color: var(--secondary-bg);
  border-radius: 22px;
  padding: 1.5rem 3rem;
}

.recent-transactions h2 {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark);
}

.recent-transactions-list {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
}

.recent-transactions-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions-item {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  align-items: center;
  color: var(--dark);
  margin: 0.5rem 0;
}

.transaction-date {
  font-size: 20px;
}

.transaction-name {
  font-weight: lighter;
  font-size: 20px;
}

.transaction-type {
  font-weight: lighter;
  font-size: 20px;
  margin-left: 2rem;
  text-align: center;
}

.transaction-price {
  font-weight: bold;
  color: var(--primary-bg) !important;
  font-size: 25px;
  text-align: right;
}

.receipt-upload,
.settings-user {
  background-color: var(--secondary-bg);
  height: 905px;
  width: 509px;
  border-radius: 22px;
  padding: 1rem;
  margin-left: 3rem;
  color: var(--primary-bg);
}

.receipt-upload h3,
.settings-user h3 {
  font-size: 35px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
}

.settings-items {
  flex-direction: column;
}

.settings-title {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark);
  margin: 1rem 0;
}

.settings-button {
  width: 875px;
  height: 52px;
  background-color: var(--primary-bg);
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.7rem;
  cursor: pointer;
  color: var(--dark);
  margin: 2rem 0;
  transition: all ease-in 0.3s;
}

.settings-button h3 {
  font-size: 17px;
  font-weight: bold;
}

.settings-button:hover {
  background-color: #fafdff;
}

.settings-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-user img {
  margin: 3rem 0;
  width: 379px;
  height: 379px;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.age,
.salary,
.retirement-age {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.age h3,
.salary h3,
.retirement-age h3,
.bio h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--dark);
}

.age h4,
.salary h4,
.retirement-age h4 {
  font-size: 20px;
  font-weight: lighter;
  color: var(--dark);
}
